@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: auto 12px; */
  margin: 0 9px;
  margin-top: 21px;
}

.header span {
  font-weight: 900;
  font-size: 20px;
  word-break: break-all;
}

.container {
  width: 95%;
  height: 90%;
  border-radius: 10px;
  background: white;
}

button {
  cursor: pointer;
}

.texto-acima {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 25px;

  border: 2px solid gray;
  border-radius: 7px;

  width: 370px; /* Aumentei a largura */
  height: 45px; /* Pequeno ajuste na altura */

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}

.espacoIcone {
  color: black;
}

.whatsApp-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #25d366;
}
.whatsApp-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.whatsApp-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



#dolar {
  color: blue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 30px;
}

/* #new {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(57, 57, 226);
} */

#new {
  font-size: 16px;
  width: 45px; /* Defina um tamanho fixo */
  height: 45px; /* Igual à largura para formar um círculo */
  border-radius: 50%; /* Deixa o botão completamente redondo */
  /* border: none; */
  border: 4px solid purple; 
  border: 4px solid #ccc; 
  color: white;
  background-color: rgb(57, 57, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.divTable {
  width: auto;
  height: inherit;
  overflow: auto;
}
.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}
.divTable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}

.divTableAno::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke;
}
.divTableAno::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgray;
}

.meses {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  flex-wrap: wrap; /* Evita quebra desnecessária */
  gap: 3px; /* Espaço de 1px entre os botões */
  padding-bottom: 10px;
}
.meses button {
  padding: 3px 3px;
  border: 0.7px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 4px;
  font-size: 10.5px;
}
.meses button:hover {
  background-color: #ddd;
}
.meses button.active {
  background-color: green;
  color: white;
  font-weight: bold;
}
/* .meses button.ativo {
  background-color: green;
  color: white;
  font-weight: bold;
} */

.anos {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  flex-wrap: wrap; /* Evita quebra desnecessária */
  gap: 4px; /* Espaço de 1px entre os botões */
  padding-bottom: 10px;
}
.anos button {
  padding: 2px 5px;
  border: 0.5px solid #ccc;
  background-color: rgb(218, 165, 32);

  cursor: pointer;
  border-radius: 4px;
  font-size: 9px;
}
.anos button:hover {
  background-color: #ddd;
}
.anos button.active {
  background-color: green;
  color: white;
  font-weight: bold;
}

table {
  margin: 0 auto; /* Centraliza a tabela */
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

.acoes-coluna {
  width: 60px;
  text-align: center; /* Centraliza o texto */
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

tbody tr td {
  vertical-align: text-top;
  /* padding: 6px; */
  padding-left: 6px;
  max-width: 50px;
}

thead tr th {
  /* padding: 5px; */
  padding-left: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

thead tr th.acao {
  width: 100px !important;
  /* width: 50px!important; */
  text-align: center;
}

tbody tr td.acao {
  text-align: center;
}

#total-salario {
  font-weight: bold;
  font-size: 14px; /* Aumentei um pouco o tamanho da fonte */

  border: 2px solid gray;
  /* padding: 5px 10px;  */
  border-radius: 7px;

  width: 130px; /* Aumentei a largura */
  height: 45px; /* Pequeno ajuste na altura */

  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold;
  font-size: 12px;
  
  border: 2px solid gray;
  padding: 2px 7px;
  border-radius: 7px;

  width: 100px;
  height: 40px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; */
}

#btnVerSaldos {
  font-weight: bold;
  font-size: 14px; /* Aumentei um pouco o tamanho da fonte */

  border: 2px solid gray;
  /* padding: 5px 10px;  */
  border-radius: 7px;

  width: 130px; /* Aumentei a largura */
  height: 45px; /* Pequeno ajuste na altura */

  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* background-color: gray; */
}

#total-salario-mensal {
  font-size: 12px;
  border: 2px solid black;
  padding: 12px;
}

.negativo {
  color: red;
  /* font-weight: bold; */
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }

  .header span {
    font-size: 15px;
  }

  #new {
    padding: 5px;
    font-size: 10px;
  }

  thead tr th.acao {
    width: auto !important;
  }

  td button i {
    font-size: 20px !important;
  }

  td button i:first-child {
    margin-right: 0;
  }

  .modal {
    width: 90% !important;
  }

  .modal label {
    font-size: 12px !important;
  }
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

.modal label {
  font-size: 14px;
  width: 100%;
  /* background-color: rgb(57, 57, 226); */
}

.modal input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal button {
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  border: none;
  background-color: rgb(57, 57, 226);
  color: white;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal 0.4s;
}

.acao {
  display: flex;
  justify-content: flex-start; /* Alinha os botões à esquerda */
  white-space: nowrap; /* Impede quebra de linha */
  gap: 4px; /* Mantém os botões próximos */
}

.btn-group {
  display: flex;
  /* gap: 10px; */
  /* margin-top: 10px; */
}
.btn-group button {
  /* padding: 2px 4px;  */
  font-size: 10px; /* Diminui o tamanho dos ícones */
}

button.cancelar {
  /* background-color: red;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px; */
  width: 100%;
  margin: 10px auto;
  outline: none;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
  border: none;
  background-color: rgb(216, 17, 43);
  color: white;
}

button.cancelar:hover {
  background-color: darkred;
}

.btn-espaco {
  padding: 0px 14px;
}

.header-group {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  gap: 15px; /* Espaçamento entre os elementos */
  justify-content: space-between; /* Distribui espaço */
}

.header-group h2 {
  margin: 0; /* Remove margens padrão */
  margin: 0 0 20px 0; /* Adiciona margem apenas na parte inferior */
  font-size: 18px;
}

.input-group select {
  padding: 5px;
  font-size: 16px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

td button {
  border: none;
  outline: none;
  background: transparent;
}

td button i {
  font-size: 25px;
}

td button i:first-child {
  margin-right: 10px;
}

.saldo-modal {
  display: none; /* Oculta por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.saldo-modal .modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.saldo-modal.active {
  display: flex;
}

#tabela-saldos th,
#tabela-saldos td {
  text-align: center; /* Centraliza o texto nas colunas */
  padding: 8px;
  border: 1px solid #ccc; /* Adiciona borda para melhor visualização */
}

#tabela-saldos {
  width: 100%;
  border-collapse: collapse; /* Remove espaçamento duplo entre as bordas */
  margin-top: 10px;
}

#tabela-saldos th {
  background-color: #555;
  color: white;
  font-weight: bold;
}

.modal {
  /* Centraliza o conteúdo dentro da modal */
  /* text-align: center;  */
  font-weight: bold;
}

.modal label {
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adiciona sombra no texto */
}

/* Estilização do modal */
.modal-deletar {
  display: none; /* Oculto por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; /* Mantém os botões alinhados */
  gap: 10px; /* Espaço entre os botões */
}
.btn {
  flex: 1; /* Faz os botões ocuparem a mesma largura */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.btn-danger {
  background: #d9534f;
  color: white;
}
.btn-secondary {
  background: #ccc;
  color: black;
}

#btnLimpar {
  background-color: #ff4d4d; /* Vermelho vibrante */
  color: white; /* Texto branco para contraste */
  border: none;
  border-radius: 50%; /* Botão arredondado */
  width: 14px;
  height: 14px;
  font-size: 7x;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
#btnLimpar:hover {
  background-color: #cc0000; /* Vermelho mais escuro ao passar o mouse */
}

/* Efeito ao focar */
.modal select#m-tipo:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border-radius: 7px;
}

.sua-empresa {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza os elementos */
  text-align: center;
  /* font-family: Arial, sans-serif; */
}
.sua-empresa p {
  margin: 0px 0; /* Espaçamento entre os textos */
  font-size: 18px; /* Tamanho padrão */
  font-weight: bold;
}
.sua-empresa #contador {
  font-size: 12px; /* Letra menor para o ID contador */
  color: gray; /* Cor diferenciada */
}
.sua-empresa #contadores {
  font-size: 12px; /* Letra menor para o ID contador */
  color: gray; /* Cor diferenciada */
}
#naoQuebraLinha {
  white-space: nowrap;
}

#login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content button {
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #218838;
}

.selecionado {
  background-color: #e6e6e6  !important; /* Cinza claro para um tom mais clássico */
  color: #555  !important; /* Cor do texto mais escura para melhor contraste */
  /* font-weight: bold;  */
  border: 1px solid white !important; 
  transition: background-color 0.3s ease-in-out; /* Efeito suave ao selecionar */
}

.linha-par {
  background-color: #e6e6e6  ; /* Cinza claro */
}
.linha-impar {
  background-color: #ffffff ; /* Branco */
}
